@media screen and (min-width: 960px){
	body{
		background-color: black;
	}
	p{
		margin: 0px;
		line-height: 68px;
	}

	#count-text{
		color: white;
		font-size: 64px;
		font-family: 'Bungee Hairline', cursive;
	}
	#message{
		color: white;
		font-size: 64px;
		font-family: 'Bungee Hairline', cursive;
	}
}