@media screen and (max-width: 959px){
	body{
		background-color: black;
	}
	p{
		margin: 0px;
		line-height: 52px;
	}

	#count-text{
		color: white;
		font-size: 48px;
		font-family: 'Bungee Hairline', cursive;
	}
	#your-progress{
		color: white;
		font-size: 48px;
		font-family: 'Bungee Hairline', cursive;
	}
}