@media screen and (max-width:479px){
	body{
		background-color: black;
	}
	p{
		margin: 0px;
		line-height: 36px;
	}

	#count-text{
		color: white;
		font-size: 32px;
		font-family: 'Bungee Hairline', cursive;
	}
	#message{
		color: white;
		font-size: 32px;
		font-family: 'Bungee Hairline', cursive;
	}
}